@model AnkietaProjekt.Models.Test

@{
    ViewBag.Title = "Delete";
}

<h2>Usuwanie</h2>

<h3>Czy napewno chcesz usunąć ten kwestionariusz?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp119)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp119)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pytanie20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pytanie20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.odp20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.odp20)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do Listy", "Index")
        </div>
    }
</div>
